<!DOCTYPE html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
	<style>
		body        { padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

					<p>
						<strong>Id</strong>: <%= user._id %><br>
						<strong>Name</strong>: <%= user.local.u_name %><br>
						<strong>Email</strong>: <%= user.local.u_email %><br>
						<strong>Mobile</strong>: <%= user.local.u_mobile %><br>
						<strong>Password</strong>: <%= user.local.u_password %><br>
					</p>

			</div>
		</div>

	</div>

</div>
</body>
</html>
